* {
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 6px;
}

/* Header */

body {
  background-color: #171717;
  justify-content: center;
  align-items: center;
}
header {
  margin-top: 8%;
  font-weight: 600px;
}
ul li {
  display: inline-flex;
}

ul li a {
  text-decoration: none;
  color: #e3e3e3;
  text-shadow: 1px 1px #da0037;
  background-color: #444444;
  border-radius: 25px;
  padding: 10px;
  font-size: 18px;
}

.right {
  float: right;
  margin-right: 3%;
}
.temporizer {
  color: #da0037;
  background-color: #444444;
}

h1 {
  text-align: center;
  color: #e3e3e3;
  text-shadow: 2px 2px #da0037;
  background-color: #444444;
  border-radius: 25px;
  border-color: #444444;
  box-shadow: 2px 2px 5px #da0037;
}

/* Box container */

.boxCont {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid #171717;
  border-radius: 30px;
  background-color: #444444;
  text-align: center;
  height: 400px;
  box-shadow: 4px 4px 5px #da0037;
}

.questions-box {
  color: #e3e3e3;
  text-shadow: 2px 2px #da0037;
  font-size: 32px;
}

.answerBtn {
  display: flex;
  padding: 10px;
  margin-left: 0;
  margin-top: 25px;
  align-items: center;
  background-color: #171717;
  font-size: 24px;
  color: #e3e3e3;
}

.answerBtn:hover {
  cursor: pointer;
  background-color: #444444;
}

.commandsBtn {
  display: inline-block;
  padding: 10px;
}

.hide {
  background-color: #171717;
  color: #e3e3e3;
  font-size: 20px;
  border-radius: 17px;
  padding: 25px;
  display: inline-block;
  text-shadow: 0.5px 0.5px #da0037;
}
.instructions {
  font-weight: 600px;
  font-style: italic;
  color: #da0037;
  text-shadow: 0.5px 0.5px #444444;
}

.startBtn {
  color: #e3e3e3;
  background-color: #da0037;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 60px;
  font-size: 32px;
  font-weight: 400;
  padding: 10px 40px;
  opacity: 0.69;
  transition: transform 450ms;
}

/* Start Function and Trivia Display */

.startBtn:hover {
  transform: translateY(-3px);
  opacity: 1;
}
.startBtn:hover + .hide {
  display: block;
}
.hide {
  display: none;
}
#firstQuestion {
  display: none;
}

#secondQuestion {
  display: none;
}

#thirdQuestion {
  display: none;
}

#fourthQuestion{
  display: none;
}

#fifthQuestion{
  display: none;
}

/*Final Scores Box  */

.scores-box{
color: #e3e3e3;
  display: block;
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 6px solid #171717;
  border-radius: 30px;
  background-color: #da0037;
  text-align: center;
  height: 200px;
  box-shadow: 4px 4px 5px #da0037;
}

#finalResult{
display: none;
}

/* Footer Score */

h5{
  font-size: 48px;
  text-align: center;
  color: rgb(77, 208, 62);
  text-shadow: 1px 1px #ffff;
}
h5{
  display: flex;
}

/* Restart Button */

.restartGameBtn{
  display: flex;
  color: #e3e3e3;
  background-color: #444444;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 46%;
  font-weight: 400;
  padding: 10px 10px;
  opacity: 0.69;
  transition: transform 450ms;

}

.restartGameBtn:hover{
  opacity: 1;
  transform: translateY(-5px);
}
